.PokemonDetail h1 {
    font-family: "Flexo-Medium",arial,sans-serif;
    color: #212121;
    width: 100%;
}

.PokemonDetail h2 {
    font-family: "Flexo-Medium",arial,sans-serif;
    color: #212121;
}

.PokemonDetail p {
    font-family: "Flexo-Medium",arial,sans-serif;
    color: #212121;
    font: inherit;
    font-size: 112.5%;
    line-height: 150%;
}


.PokemonDetails .PokemonDetail-image {
    flex: 2;
    position: relative;
    background: #F5F5F5;
}

.PokemonDetails {
    position: relative;
    border: 5px solid #F5F5F5;
    background: #F5F5F5;
  }
